---
import MainLayout from '~/layouts/MainLayout.astro';
import { vstack } from 'styled-system/patterns';
---

<MainLayout>
  <div
    class:list={[
      vstack({
        fontSize: '2xl',
      }),
    ]}
  >
    🚧 UNDER CONSTRUCTION 🚧
  </div>
</MainLayout>
