---
import MainLayout from '../layouts/MainLayout.astro';
import { vstack } from '~panda/patterns';
import HomeIntroduction from '~/components/home/HomeIntroduction.vue';
---

<MainLayout>
  <div
    class:list={[
      vstack({
        height: '100%',
        justifyContent: 'center',
        alignItems: 'center',
      }),
    ]}
  >
    <HomeIntroduction />
  </div>
</MainLayout>
