---
import { getCollection } from 'astro:content';
import MainLayout from '~/layouts/MainLayout.astro';
import ProjectItem from '~/components/projects/ProjectItem.astro';
import { vstack } from '~panda/patterns';

const projectEntries = await getCollection('project');
---

<MainLayout>
  <div
    class={vstack({
      w: '100%',
      gap: '4',
      my: '12',
      px: '4',
    })}
  >
    {
      projectEntries
        .sort((a, b) => a.data.priority - b.data.priority)
        .map((entry) => <ProjectItem project={entry} />)
    }
  </div>
</MainLayout>
