---
import { css } from 'styled-system/css';

type Props = astroHTML.JSX.DefinedIntrinsicElements['h3'];

const props = Astro.props;
---

<h3
  {...props}
  class={css({
    fontSize: '2xl',
    fontFamily: 'dosis',
    w: '100%',
    my: '2',
    color: 'accent.text',
  })}
>
  <slot />
</h3>
