---
import { css } from '~panda/css';

type Props = astroHTML.JSX.DefinedIntrinsicElements['h5'];

const props = Astro.props;
---

<h5
  {...props}
  class={css({
    fontSize: 'lg',
    fontFamily: 'dosis',
    w: '100%',
  })}
>
  <slot />
</h5>
