---
import { Image } from 'astro:assets';
import { css } from 'styled-system/css';
import { vstack } from 'styled-system/patterns';

type Props = {
  alt: string;
  src: string;
};

const { alt, src } = Astro.props;
---

<div
  class={vstack({
    w: '100%',
  })}
>
  <!-- astro image component doesn't behave like in docs with typescript -->
  <!-- @ts-expect-error -->
  <Image
    alt={alt}
    class={css({
      border: '1px solid',
      borderColor: 'border.subtle',
      rounded: 'md',
    })}
    src={src}
  />
  <p
    class={css({
      fontStyle: 'italic',
      fontSize: 'sm',
      color: 'accent.text',
    })}
  >
    {alt}
  </p>
</div>
