---
import { css } from 'styled-system/css';

type Props = astroHTML.JSX.DefinedIntrinsicElements['p'];

const props = Astro.props;
---

<p
  {...props}
  class={css({
    fontSize: 'md',
    fontFamily: 'dosis',
    w: '100%',
  })}
>
  <slot />
</p>
