---
import { css } from 'styled-system/css';

type Props = astroHTML.JSX.DefinedIntrinsicElements['pre'];

const props = Astro.props;
---

<div
  class={css({
    borderRadius: 'md',
    overflow: 'hidden',
    w: '100%',
  })}
>
  <pre
    class={css({
      px: '4',
      py: '2',
    })}
    {...props}><slot /></pre>
</div>
