---
import { css } from '~panda/css';
import { table } from '~panda/recipes';
---

<div
  class={css({
    p: '2',
    overflowX: 'auto',
    maxW: '500%',
  })}
>
  <table class:list={[table().root, css({ w: '100%' })]}>
    <slot />
  </table>
</div>
