---
import { table } from '~panda/recipes';
import { css } from '~panda/css';
---

<td
  class:list={[
    table().cell,
    css({
      py: '2',
      minW: 'fit-content',
      textAlign: 'center',
      textWrap: 'nowrap',
    }),
  ]}
>
  <slot />
</td>
